<div data-map data-markers="vm.markets" data-bounds="vm.bounds" style="height: 100%; width: 100%; pading: 50rem;"></div>
<div class="map-bar">
  <span class="app-title">
    To the Farmer's Market
  </span>
  <div data-ng-if="!vm.currentPosition"
       class="cta-wrapper">
    <button class="cta small"
            data-ng-click="vm.detectLocation()"
            data-ng-disabled="vm.loading['detect-location']">
      <span data-ng-show="vm.loading['detect-location']" class="fa fa-fw fa-spin fa-spinner"></span>
      <span data-ng-show="!vm.loading['detect-location']">Find Markets Near Me</span>
    </button>
    <span class="detail">We're showing all markets that are visible on the map.</span>
  </div>
  <div data-ng-if="vm.currentPosition" class="cta-wrapper">
    <button class="cta small" data-ng-click="vm.currentPosition = null">Show All Markets</button>
    <span class="detail">
      We're showing markets within <strong>20 miles</strong> of your detected location.
    </span>
  </div>
</div>

<div class="markets-bar" data-ng-class="{'full' : vm.expanded}">
  <label style="text-align: center; display: block; padding: 0.25rem">
    <span data-ng-show="vm.loading['query-markets']" class="fa fa-fw fa-spin fa-spinner"></span>&nbsp;
    <span data-ng-show="!vm.loading['query-markets']">
      Markets
    </span>
      <a data-ui-sref="ttfm.markets.list" style="float: right; display: none;"><span class="fa fa-fw fa-list"></span> List</a>

      <a data-ng-click="vm.expanded = !vm.expanded" style="cursor: pointer; float: left;">
        <span class="fa fa-fw" data-ng-class="{'fa-chevron-up': vm.expanded, 'fa-chevron-down': !vm.expanded}"></span>
      </a>
  </label>

  <div class="schedule-filters">
    <div data-ng-repeat="day in vm.days"
         data-ng-click="vm.toggleDay(day);"
         data-ng-class="{'active': vm.isDaySelected(day)}"
         class="selection">
      {{day.label}}
    </div>
  </div>
  <div class="markets">
    <div data-ng-repeat="market in vm.markets | day:vm.daysSelected track by market.id"
         data-ng-click="vm.panToMarket(market)"
         data-analytics-on="click"
         data-analytics-event="select-market"
         data-analytics-category="content-engagement"
         data-analytics-label="map-list"
         class="market">
      {{market.name}}
      <span data-ng-if="market.distance" class="distance">{{market.distance.toFixed(2) + ' miles away'}}</span>
    </div>
  </div>
</div>
