<div class="map-page with-sidebar">
  <div class="main-content-wrapper" data-ng-style="{'overflow-y': vm.isShowingMap ? 'hidden' : 'auto'}" style="overflow-x: hidden;">
    <div data-ui-view="show-and-edit" class="main-content" data-ng-if="!vm.isShowingMap" style="padding: 1rem;"></div>
    <div data-map data-markers="vm.markets" data-bounds="vm.bounds" class="main-content" data-ng-class="{'push-behind': !vm.isShowingMap}"></div>
  </div>

  <div class="sub-navigation">
    <div class="cta-wrapper">
      <div>
        <div style="display: inline-block; position: relative;">
          <input data-ng-model="vm.manualLocation" data-address-autocomplete placeholder="Where are you?" style="margin-right: 0.2rem; padding-right: 1rem;" class="hidden-desktop"></input>
          <input data-ng-model="vm.manualLocation" data-address-autocomplete placeholder="Where are you?" style="margin-right: 0.2rem; font-size: 1.25rem; padding-right: 1.25rem;" class="hidden-mobile"></input>
          <a data-ng-click="vm.detectLocation()"
             data-ng-disabled="vm.loading['detect-location']"
             style="cursor: pointer; position: absolute; top: 0.25rem; right: 0.25rem; color: green;">
             <span class="fa fa-fw input-icon hidden-mobile"
                   data-ng-class="{'fa-spin fa-spinner': vm.loading['detect-location'], 'fa-location-arrow': !vm.loading['detect-location']}"></span>
           </a>
          <a data-ng-click="vm.detectLocation()"
             data-ng-disabled="vm.loading['detect-location']"
             style="cursor: pointer; position: absolute; top: 0.15rem; right: 0.25rem; color: green;">
             <span class="fa fa-fw input-icon hidden-desktop"
                   data-ng-class="{'fa-spin fa-spinner': vm.loading['detect-location'], 'fa-location-arrow': !vm.loading['detect-location']}"></span>
          </a>
        </div>
        <button data-button-action="vm.identifyLocation(vm.manualLocation)" data-ng-disabled="vm.loading['detect-location']" class="cta tiny hidden-desktop">Search</button>
        <button data-button-action="vm.identifyLocation(vm.manualLocation)" data-ng-disabled="vm.loading['detect-location']" class="cta small hidden-mobile">Search</button>

        <span class="detail" data-ng-if="vm.showPrompt">
          We couldn't detect your location. Let us know where you are!
        </span>
      </div>
    </div>
  </div>

  <div class="sidebar" data-ng-class="{'full' : vm.expanded}">
    <label style="text-align: center; display: block; padding-top: 0.25rem">
        <span data-ng-if="vm.markets.length && !vm.loading['query-markets']">
          Markets
        </span>
        <span data-ng-if="vm.loading['query-markets']">
          <span class="fa fa-fw fa-spin fa-spinner"></span>
        </span>

        <a data-ng-click="vm.expanded = !vm.expanded" style="cursor: pointer; float: left;" class="hidden-desktop">
          <span class="fa fa-fw" data-ng-class="{'fa-chevron-up': vm.expanded, 'fa-chevron-down': !vm.expanded}"></span>
        </a>
    </label>

    <div class="schedule-filters">
      <div data-ng-repeat="day in vm.days"
           data-ng-click="vm.toggleDay(day);"
           data-ng-class="{'active': vm.isDaySelected(day)}"
           class="selection">
        {{day.label}}
      </div>
    </div>
    <div class="list">
      <div data-ng-if="!vm.markets.length && !vm.loading['detect-location'] && !vm.loading['query-markets']" style="text-align: center;">
        No markets found in the area.
      </div>
      <div data-ng-repeat="market in vm.markets | day:vm.daysSelected | orderBy: ['distance', 'name'] track by market.id"
           data-ng-click="vm.selectMarket(market)"
           data-analytics-on="click"
           data-analytics-event="select-market"
           data-analytics-category="content-engagement"
           data-analytics-label="map-list"
           class="selection">
        <img data-ng-if="market.icon" data-ng-src="{{market.icon}}" style="width: 1rem; height: 1rem;"></img>
        {{market.name}}
        <span data-ng-if="market.distance && vm.currentPosition" class="distance">{{market.distance.toFixed(2) + ' miles away'}}</span>
      </div>

      <a data-ng-if="vm.markets.length > 0" data-ui-sref="ttfm.about" style="float: left;">
        <span class="secret-button"><span class="fa fa-fw fa-info-circle"></span> About</span>
      </a>
      <button data-sign-out style="display: block; clear: both; margin: 0 auto;"></button>
    </div>
  </div>
</div>
