<div class="container">
  <button data-ui-sref="ttfm.markets.browse" class="cta tiny info">Back to map</button>
  <div data-ng-if="vm.market.has_map" data-booth-map data-on-market-vendor-selected="vm.showMarketVendorOnList(marketVendor)"></div>

  <div>
    <p>
      <strong>{{vm.market.name}}</strong><br/>
      {{vm.market.address}}<br/>
      {{vm.market.days_of_week_as_array.join(', ')}} {{vm.getTimeString(vm.market)}}<br/>
      <a data-ng-if="vm.market.website_url" data-ng-href="http://{{vm.market.website_url}}">Website</a>
    </p>
    <div data-ng-if="!vm.market.has_map" data-static-map data-location="vm.market.latitude + ',' + vm.market.longitude" data-size="512x512"></div>
    <div data-market-vendors-list data-market="vm.market" data-on-market-vendor-selected="vm.showMarketVendorOnMap(marketVendor)"></div>
  </div>
</div>
