<div class="map-page">

  <div data-map data-markers="vm.markets" data-bounds="vm.bounds"></div>

  <div class="map-bar">
    <div data-ng-if="vm.searchMode === 'bounds'"
         class="cta-wrapper">
      <button class="cta small"
              data-ng-click="vm.showNearby()"
              data-ng-disabled="vm.loading['detect-location']"
              data-ng-show="!vm.loading['detect-location']">
        <span>Find Markets Near Me</span>
      </button>
      <span data-ng-show="vm.loading['detect-location']" class="fa fa-fw fa-spin fa-spinner" style="font-size: 1.5rem;"></span>
      <span class="detail">We're showing all markets that are visible on the map.</span>
    </div>
    <div data-ng-if="vm.searchMode === 'nearby'" class="cta-wrapper">
      <button class="cta small" data-ng-click="vm.showAll()">Show All Markets</button>
      <span class="detail">
        We're showing markets within <strong>60 miles</strong> of your location.
      </span>
    </div>
  </div>

  <div class="markets-bar" data-ng-class="{'full' : vm.expanded}">
    <label style="text-align: center; display: block; padding-top: 0.25rem">
        <span data-ng-if="vm.markets.length">
          Markets
        </span>
        <span data-ng-if="!vm.markets.length">
          <span class="fa fa-fw fa-spin fa-spinner"></span>
        </span>
        <a data-ui-sref="ttfm.markets.list" style="float: right; display: none;"><span class="fa fa-fw fa-list"></span> List</a>

        <a data-ng-click="vm.expanded = !vm.expanded" style="cursor: pointer; float: left;" class="hidden-desktop">
          <span class="fa fa-fw" data-ng-class="{'fa-chevron-up': vm.expanded, 'fa-chevron-down': !vm.expanded}"></span>
        </a>
    </label>

    <div class="schedule-filters">
      <div data-ng-repeat="day in vm.days"
           data-ng-click="vm.toggleDay(day);"
           data-ng-class="{'active': vm.isDaySelected(day)}"
           class="selection">
        {{day.label}}
      </div>
    </div>
    <div class="list markets">
      <div data-ng-repeat="market in vm.markets | day:vm.daysSelected | orderBy: ['distance', 'name'] track by market.id"
           data-ng-click="vm.panToMarket(market)"
           data-analytics-on="click"
           data-analytics-event="select-market"
           data-analytics-category="content-engagement"
           data-analytics-label="map-list"
           class="selection">
        {{market.name}}
        <span data-ng-if="market.distance" class="distance">{{market.distance.toFixed(2) + ' miles away'}}</span>
      </div>
    </div>
  </div>
</div>
