<div>
  Farmer's Market Name
  <label>Farmer's market name</label>
  <input></input>

  <label>Location</label>
  <input></input>

  <label>Address</label>
  <input></input>

  <div>
    <label>Sunday <input type="checkbox" data-ng-model="vm.schedule.sunday"></input></label>
    <label>Monday <input type="checkbox" data-ng-model="vm.schedule.monday"></input></label>
    <label>Tuesday <input type="checkbox" data-ng-model="vm.schedule.tuesday"></input></label>
    <label>Tuesday <input type="checkbox" data-ng-model="vm.schedule.wednesday"></input></label>
    <label>Thursday <input type="checkbox" data-ng-model="vm.schedule.thursday"></input></label>
    <label>Friday <input type="checkbox" data-ng-model="vm.schedule.friday"></input></label>
    <label>Saturday <input type="checkbox" data-ng-model="vm.schedule.saturday"></input></label>
  </div>

  <label>From</label>
  <input type="time"></input>
  <label>To</label>
  <input type="time"></input>

  <button data-ng-click="vm.save()">Save</button>
</div>
