<div>
  <h1>{{vm.locations.length}} Farmer's Markets in your area
        <button data-ui-sref="ttfm.locations.new">Add a Farmer's Market</button>
  </h1>
  <div data-map data-markers="vm.locations" data-height="400px"></div>
  </div>
  <hr>
  <section>
    <button>Show Nearby</button>
    <button>Show All</button>
    <button>Find Closest</button>
  </section>
  <section class="locations">
    <a data-ng-repeat="location in vm.locations"
       data-ui-sref="ttfm.locations.show({id: location.id})"
       class="location">
      <span class="id" data-ng-bind="::(location.id + 1)"></span>
      <div class="location-content">
        <span class="location-name" data-ng-bind="::location.name"></span>
        <span class="location-address" data-ng-bind="::location.venue.addressOneLine"></span>
        <span class="schedule">
          <span data-ng-if="location.schedule.sunday">S</span>
          <span data-ng-if="location.schedule.monday">M</span>
          <span data-ng-if="location.schedule.tuesday">T</span>
          <span data-ng-if="location.schedule.wednesday">W</span>
          <span data-ng-if="location.schedule.thursday">T</span>
          <span data-ng-if="location.schedule.friday">F</span>
          <span data-ng-if="location.schedule.saturday">S</span>

        </span>
      </div>
    </a>
  </section>
</div>
