<div class="with-sidebar">
  <div class="main-content-wrapper" style="overflow-y: scroll;">
    <div class="main-content" style="padding: 1rem;">
      <div data-ui-view="show-and-edit">
        <h1>You can use this screen to edit the markets. Don't forget to sign out!</h1>
        <a data-ui-sref="ttfm.vendors.admin">
          <span class="fa fa-fw fa-gear"></span> Adminstrate Vendors
        </a>
      </div>
    </div>
  </div>
  <div class="sub-navigation">
     <button class="cta small" data-ui-sref="ttfm.markets.admin.new">Add Market</button>
  </div>
  <div class="sidebar" data-ng-class="{'full' : vm.expanded}">

    <label style="text-align: center; display: block; padding-top: 0.25rem">
        <span>
          Administrate Markets
          <br/>
          <button data-sign-out></button>
        </span>
        <a data-ng-click="vm.expanded = !vm.expanded" style="cursor: pointer; float: left;" class="hidden-desktop">
          <span class="fa fa-fw" data-ng-class="{'fa-chevron-up': vm.expanded, 'fa-chevron-down': !vm.expanded}"></span>
        </a>
    </label>
    <div class="list">
      <div data-ng-repeat="market in vm.markets | orderBy: 'name' track by market.id"
           data-ui-sref="ttfm.markets.admin.edit({id: market.id})"
           class="selection">
        {{market.name}}
      </div>


      <a data-ui-sref="ttfm.vendors.admin" style="float: right">
        <span class="secret-button"><span class="fa fa-fw fa-gear"></span> Adminstrate Vendors</span>
      </a>
    </div>
  </div>
</div>
