.about-profile {
  @include row();
  padding: 2rem 0;
  .name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
  }
  .links {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  .role {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .description {
    margin-top: 0;
  }
  .wrapper {
    @include span-columns(10);
    @include media($mobile) {
      @include span-columns(8);
    }
  }
  .photo {
    border-radius: 50%;
    @include span-columns(2);
    @include media($mobile) {
      @include span-columns(4);
      padding-right: 1rem;
    }
  }
}
