.map-page {

  .map-bar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    z-index: 1;
  }

  .cta {
    @include media($mobile) {
      float: right;
    }
    display: inline-block;
    font-size: 1.25rem;
    cursor: pointer;
    background-color: $color-button-background;
    color: $color-button;
    border-radius: 5px;
    border: 1px solid $color-button-background;
    padding: 1rem;
    outline: none;

    &:hover {
      background-color: $color-button;
      color: $color-button-background;
    }

    &.small {
      @include media($mobile) {
        font-size: 0.8rem;
        padding: 0.25rem;
      }
      font-size: 1rem;
      padding: .5rem;
    }
  }
  .cta-wrapper {
    @include media($mobile) {
      float: right;
    }
    text-align: center;
    float: right;
    vertical-align: top;
    .detail {
      @include media($mobile) {
        display: none;
      }
      display: block;
      clear: both;
      margin-top: 0.5rem;
    }
  }

  .cta-input {
    display: inline-block;
    margin-top: 1rem;
  }

  .input-prompt-alt {
    display: block;
    font-size: 0.8rem;
    margin: 1rem;
    text-align: center;
    cursor: pointer;
    color: $color-sidebar-filter-text;
  }

  .markets-bar {
    a {
      color: inherit;
      text-decoration: inherit;
    }
    @include media($mobile) {
      left: 0;
      bottom: 0;
      height: $height-markets-bar-mobile;
      width: 100%;
      position: absolute;
    }
    @include media($desktop) {
      display: inline-block;
      width: $width-markets-bar-desktop;
      top: $height-sidebar;
      bottom: 0;
      position: absolute;
    }
    background-color: $color-sidebar-background;
    color: $color-sidebar-filter-text;
    padding: 1rem;
    overflow: hidden;
    &.full {
      @include media($mobile) {
        top: $height-sidebar-mobile;
      }
      top: $height-sidebar;
      bottom: 0;
      height: auto;
    }
  }


  .schedule-filters {
    margin: 0 0;
    text-align: center;
    .selection {
      text-transform:uppercase;
      display: inline-block;
      color: $color-sidebar-filter-text;
      text-align: center;
      border-radius: 5px;
      padding: 0.25rem;
      font-size: 1.5rem;
      cursor: pointer;
      @include user-select(none);

      &:hover {
        background-color: $color-sidebar-filter-text;
        color: $color-sidebar-background;
      }
      &.active {
        color: $color-sidebar-filter-active;
      }
      &.active:hover {
        color: $color-sidebar-background;
        background-color: $color-sidebar-filter-active;
      }
      &.active:hover {
        color: $color-sidebar-background;
        background-color: $color-sidebar-filter-active;
      }
    }
  }

  .about {
    color: $color-sidebar-text;
    font-size: 0.8rem;
    text-align: center;
    a {
      color: $color-sidebar-text;
    }
    a:visited {
      color: $color-sidebar-text;
    }
  }

  .markets {
    color: $color-sidebar-text;
    overflow-y: scroll;
    height: 100%;
    .market {
      cursor: pointer;
      padding: 1rem;
      display: block;
      border-bottom: 1px solid $color-sidebar-filter-text;
      @include user-select(none);

      &:hover {
        color: $color-sidebar-background;
        background-color: $color-sidebar-filter-text;
      }
      .distance {
        display: block;
      }
      padding: 0.25rem;
      margin: 0;
    }
  }
}
