.main-content-wrapper, .map-wrapper {
  width: 100%;
  height: 100%;
  @include media($desktop) {
    position: absolute;
    left: $width-markets-bar-desktop;
    top: $height-sidebar;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
  }
  @include media($mobile) {
    position: absolute;
    top: $height-sidebar-mobile;
    bottom: $height-markets-bar-mobile;
    height: auto;
  }
}

.main-content, .map {
  height: 100%;
  width: 100%;
}

.markets-bar {
  a {
    color: inherit;
    text-decoration: inherit;
  }
  @include media($mobile) {
    left: 0;
    bottom: 0;
    height: $height-markets-bar-mobile;
    width: 100%;
    position: absolute;
  }
  @include media($desktop) {
    display: inline-block;
    width: $width-markets-bar-desktop;
    top: $height-sidebar;
    bottom: 0;
    position: absolute;
  }
  background-color: $color-sidebar-background;
  color: $color-sidebar-filter-text;
  padding: 1rem;
  overflow: hidden;
  &.full {
    @include media($mobile) {
      top: $height-sidebar-mobile;
    }
    top: $height-sidebar;
    bottom: 0;
    height: auto;
  }

  .markets {
    overflow-y: auto;
    bottom: 0;
    position: absolute;
    top: 5rem;
    padding-right: 0.5rem;
  }
}
