$color-sidebar-background: rgba(66, 63, 63, 0.95);
$color-sidebar-text: #F1F1F1;
$color-sidebar-filter-text: #A1A1A1;
$color-sidebar-filter-active: orange;

.map-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: $color-sidebar-background;
  color: $color-sidebar-filter-text;
  padding: 1rem
}

.cta {
  display: inline-block;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: $color-sidebar-background;
  color: $color-sidebar-filter-text;
  border-radius: 5px;
  border: 1px solid $color-sidebar-filter-text;
  padding: 1rem;
  outline: none;

  &:hover {
    background-color: $color-sidebar-filter-text;
    color: $color-sidebar-background;
  }

  &.small {
    font-size: 1rem;
    padding: .5rem;
  }
}
.cta-wrapper {
  display: inline-block;
  text-align: center;
  float: right;
  vertical-align: top;

}

.cta-input {
  display: inline-block;
  margin-top: 1rem;
}

.input-prompt-alt {
  display: block;
  font-size: 0.8rem;
  margin: 1rem;
  text-align: center;
  cursor: pointer;
  color: $color-sidebar-filter-text;
}



.app-title {
  font-size: 2rem;
  display: inline-block;
  color: $color-sidebar-text;
  text-align: center;
  margin-bottom: 1.25rem;
}

.app-tagline {
  color: $color-sidebar-text;
  display: block;
  text-align: center;
  font-size: 1rem;
}


.markets-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10rem;
  height: 10rem;
  background-color: $color-sidebar-background;
  color: $color-sidebar-filter-text;
  padding: 1rem;
  overflow-y: scroll;
}

.schedule-filters {
  margin: 1.25rem 0;
  text-align: center;
  .selection {
    text-transform:uppercase;
    display: inline-block;
    color: $color-sidebar-filter-text;
    text-align: center;
    border-radius: 5px;
    padding: 0.25rem;
    font-size: 1.25rem;
    cursor: pointer;

    &:hover {
      background-color: $color-sidebar-filter-text;
      color: $color-sidebar-background;
    }
    &.active {
      color: $color-sidebar-filter-active;
    }
    &.active:hover {
      color: $color-sidebar-background;
      background-color: $color-sidebar-filter-active;
    }
  }
}

.markets {
  color: $color-sidebar-text;
  .market {
    cursor: pointer;
    padding: 1rem;
    display: block;
    border-bottom: 1px solid $color-sidebar-filter-text;
    &:hover {
      color: $color-sidebar-background;
      background-color: $color-sidebar-filter-active;
    }
  }
}

.about {
  color: $color-sidebar-text;
  font-size: 0.8rem;
  text-align: center;
  a {
    color: $color-sidebar-text;
  }
  a:visited {
    color: $color-sidebar-text;
  }
}
