$color-sidebar-background: rgba(66, 63, 63, 0.95);
$color-sidebar-text: #F1F1F1;
$color-sidebar-filter-text: #A1A1A1;
$color-sidebar-filter-active: orange;
$height-sidebar: 6rem;
$height-sidebar-mobile: 3.5rem;

.map-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: $color-sidebar-background;
  color: $color-sidebar-filter-text;
  padding: 1rem;
  @include media($mobile) {
    padding-bottom: 0;
    height: $height-sidebar-mobile;
  }
  height: $height-sidebar;
}

.cta {
  @include media($mobile) {
    float: right;
  }
  display: inline-block;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: $color-sidebar-background;
  color: $color-sidebar-filter-text;
  border-radius: 5px;
  border: 1px solid $color-sidebar-filter-text;
  padding: 1rem;
  outline: none;

  &:hover {
    background-color: $color-sidebar-filter-text;
    color: $color-sidebar-background;
  }

  &.small {
    @include media($mobile) {
      font-size: 0.8rem;
      padding: 0.25rem;
    }
    font-size: 1rem;
    padding: .5rem;
  }
}
.cta-wrapper {
  @include media($mobile) {
    float: right;
  }
  text-align: center;
  float: right;
  vertical-align: top;
  .detail {
    @include media($mobile) {
      display: none;
    }
    display: block;
    clear: both;
    margin-top: 0.5rem;
  }
}

.cta-input {
  display: inline-block;
  margin-top: 1rem;
}

.input-prompt-alt {
  display: block;
  font-size: 0.8rem;
  margin: 1rem;
  text-align: center;
  cursor: pointer;
  color: $color-sidebar-filter-text;
}



.app-title {
  @include media($mobile) {
    display: inline-block;
    font-size: 1rem;
  }
  font-size: 2rem;
  color: $color-sidebar-text;
  text-align: center;
  margin-bottom: 1.25rem;
}

.markets-bar {
  a {
    color: inherit;
    text-decoration: inherit;
  }
  position: absolute;
  @include media($mobile) {
    left: 0;
    bottom: 0;
    height: 30%;
    width: 100%;
  }
  @include media($desktop) {
    left: 0;
    bottom: 0;
    width: 50%;
    max-width: 20rem;
    height: 40%;
  }
  background-color: $color-sidebar-background;
  color: $color-sidebar-filter-text;
  padding: 1rem;
  overflow: hidden;
  &.full {
    @include media($mobile) {
      top: $height-sidebar-mobile;
    }
    top: $height-sidebar;
    bottom: 0;
    height: auto;
  }
}


.schedule-filters {
  margin: 1.25rem 0;
  text-align: center;
  .selection {
    text-transform:uppercase;
    display: inline-block;
    color: $color-sidebar-filter-text;
    text-align: center;
    border-radius: 5px;
    padding: 0.25rem;
    font-size: 1.25rem;
    cursor: pointer;

    &:hover {
      background-color: $color-sidebar-filter-text;
      color: $color-sidebar-background;
    }
    &.active {
      color: $color-sidebar-filter-active;
    }
    &.active:hover {
      color: $color-sidebar-background;
      background-color: $color-sidebar-filter-active;
    }
  }
}

.about {
  color: $color-sidebar-text;
  font-size: 0.8rem;
  text-align: center;
  a {
    color: $color-sidebar-text;
  }
  a:visited {
    color: $color-sidebar-text;
  }
}

.markets {
  color: $color-sidebar-text;
  overflow-y: scroll;
  height: 100%;
  .market {
    cursor: pointer;
    padding: 1rem;
    display: block;
    border-bottom: 1px solid $color-sidebar-filter-text;
    &:hover {
      color: $color-sidebar-background;
      background-color: $color-sidebar-filter-active;
    }
    .distance {
      display: block;
    }
    padding: 0.25rem;
    margin: 0;
  }
}
