$breakpoint-mobile: 420px;


$color-accent-primary: #f68717;
$color-accent-secondary: #00a363;
$color-subtle: #D1D1D1;
$color-subtler: #F1F1F1;
$color-error: red;





//App variables
$color-sidebar-background: #F1F1F1;
$color-sidebar-text: #1F1F1F;
$color-sidebar-filter-text: #0D0D0D;
$color-sidebar-filter-active: $color-accent-primary;
$color-button: $color-sidebar-background;
$color-button-background: $color-accent-secondary;


$height-markets-bar-mobile: 30%;
$width-markets-bar-desktop: 20rem;
$height-sidebar: 6rem;
$height-sidebar-mobile: 3.5rem;
