$breakpoint-mobile: 420px;


$color-accent-primary: #f68717;
$color-accent-secondary: #00a363;
$color-subtle: #D1D1D1;
$color-subtler: #F1F1F1;
$color-error: red;





//App variables
$height-markets-bar-mobile: 30%;
$width-markets-bar-desktop: 20rem;
$height-sidebar: 6rem;
$height-sidebar-mobile: 3.5rem;
