@import 'hack/trigger_watch';

//[JG]: Bourbon and neat must come first, followed by grid settings.
@import 'bourbon';
@import 'neat';
@import 'grid';

@import 'variables';
@import 'admin';
@import 'sidebar';
@import 'list';

html {
  height: 100%;
  width: 100%;
  font-family: 'BenchNine', sans-serif;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.map-wrapper {
  width: 100%;
  height: 100%;
}
.map {
  width: 100%;
  height: 100%;
}

.ui-view-content {
  height: 100%;
  width: 100%;
}

.error {
  color: $color-error;
}
