@import 'hack/trigger_watch';

//[JG]: Bourbon and neat must come first, followed by grid settings.
@import 'bourbon';
@import 'neat';
@import 'grid';

@import 'variables';
@import 'admin';
@import 'map-page';
@import 'list';
@import 'navigation';
@import 'page';

html {
  height: 100%;
  width: 100%;
  font-family: 'BenchNine', sans-serif;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.map-wrapper {
  width: 100%;
  height: 100%;
  @include media($desktop) {
    position: absolute;
    left: $width-markets-bar-desktop;
    top: $height-sidebar;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
  }
  @include media($mobile) {
    position: absolute;
    top: $height-sidebar-mobile;
    bottom: $height-markets-bar-mobile;
    height: auto;
  }
}
.map {
  height: 100%;
  width: 100%;
}

.ui-view-content {
  height: 100%;
  width: 100%;
}

.error {
  color: $color-error;
}
