@import 'hack/trigger_watch';

//[JG]: Bourbon and neat must come first, followed by grid settings.
@import 'bourbon';
@import 'neat';
@import 'base/variables';
@import 'base/grid';
@import 'base/layouts';

@import 'components/form';
@import 'components/list';
@import 'components/navigation';
@import 'components/page';
@import 'components/table';

@import 'pages/admin';
@import 'pages/about';
@import 'pages/home';
@import 'pages/map';
@import 'pages/markets';

html {
  height: 100%;
  width: 100%;
  font-family: 'BenchNine', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.ui-view-content {
  height: 100%;
  width: 100%;
}

.error {
  color: $color-error;
}
